<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.song.exercise">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".mvp.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".h5.H5WebActivity" />
        <activity android:name=".clickposition.ClickPositionNormalActivity" />
        <activity android:name=".clickposition.ClickPositionScrollActivity" />
        <activity android:name=".clickposition.ClickPositionListActivity" />
        <activity android:name=".fragment.MyViewPagerActivity" />
        <activity android:name=".fragment.MyFragmentActivity" />
        <activity android:name=".location.LocationActivity" />
        <activity android:name=".deviceinfo.DeviceinfoActivity" />
        <activity
            android:name=".deeplink.TranslucentActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="weburl"
                    android:path="/path"
                    android:port="800"
                    android:scheme="com.song.test" />
            </intent-filter>
        </activity>
        <activity android:name=".deeplink.DeepLinkAActivity" />
        <activity android:name=".deeplink.DeepLinkBActivity" />
        <activity android:name=".deeplink.DeepLinkCActivity" />
        <activity android:name=".deeplink.DeepLinkActivity" />
        <activity android:name=".deeplink.ProgressChartActivity" />

    </application>

</manifest>